<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mystique Mobile</title>
	
<link rel="stylesheet" type="text/css" href="email.css" />

</head>
<body>

<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#f735a9">
	<tr>
		<td></td>
		<td class="header container">
			
				<div class="content">
					<table >
					<tr>
						<td align="right"><h6 color="#FFFFFF" class="collapse">Mystique Mobile</h6></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						
						<h3>Bienvenido</h3>{{nombreCliente}} {{apellidoCliente}}
						<p class="lead">Te damos la bienvenida a la comunidad de usuarios de Mystique Mobile, gracias a ello podras disfrutar de nuestros beneficios.</p>
						
						<p><img src="http://res.cloudinary.com/joseencinoza/image/upload/v1527441724/IMG-20180523-WA0002.jpg"/></p><!-- /hero -->
						
						
						<h3>¿Cómo usar Mystique Mobile? </h3>
						<p>Podras solicitar servicios y disfrutar de contenido personalizado, acorde a tu perfil, como consejos de belleza, servicios y promociones.<br/>
							Descarga Mystique Mobile en tu telefóno inteligente e ingresa con tu usuario y contraseña indicados en la suscripción.
						</p>
						<a class="btn">Descarga Mystique!</a>
												
						<br/>
						<br/>							
												
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!--- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Contactanos:</h5>
												<p class=""><a href="#" class="soc-btn fb">
												Twitter</a>
						                        Correo: <strong><a href=" ">mystique@gmail.com</a></strong></p>
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
					
					
					</td>
				</tr>
			</table>
			</div>
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			
				<!-- content -->
				<div class="content">
				<table>

											<small>Mystique respeta tu privacidad, no tenemos acceso a tu contraseña</small>
				<tr>
				
					<td align="center">
						<p>
							<a href="#">Mystique Mobile</a> |
							<a href="#">Terminos y condiciones</a> 
						</p>
					</td>
				</tr>
			</table>
				</div><!-- /content -->
				
		</td>
		<td></td>
	</tr>
</table><!-- /FOOTER -->

</body>

</body>
</html>